td { text-align: center;
	font-size : 120%; }

select { width : 120px; }

select option { font-size: 90%; }

.bouton { background-color: green;
		 color: olive; }

#sup { background-color: olive;
			color: green; }