
body {
	margin: 0 0 0 0;
}
a { text-decoration: none;
color: black; }

.index {
	position: relative;
	text-align: center;
}

.connexion {
	position: relative;
	text-align: center;
	width: 250px;
	left: 42%;
}
.inscription {
	position: relative;
	text-align: center;
	width: 250px;
	left: 44%;
}


.haut {
	margin : 0 0 0 0;
	text-align: right;
	background-color:   ;
}

button,select {
	display: inline-block;
	cursor: pointer;
	outline: none;
	background: linear-gradient(to top right, white, grey );
	color: black;
	border: none;
 	border-radius: 15px;
 }

h1 {
	text-align: center;
	font-size: 300%;
	text-shadow: 0.2em 0.2em 0.2em grey;
}

.corps {
	margin : 0 0 0 0;
	background-color:  ;
}

.menu {
	position: static;
	text-align: center;
	font-size: 250%;
}


.corps input {
	position: static ;
	background: linear-gradient(to top right, grey, black );
	color: white;
	border-radius: 10px;
}
 

.menu_2 {
	position:absolute;
	text-align: center;
	right: 40%;

}

.requete {
	position: relative;
	border-style: solid;
	top : 20%;
	width: 650px;

}
.swapage {
	position: absolute;
	border-style: dashed;
	right: 50px;
	bottom: 200px;
}